@mixin clearfix {
    
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

@mixin gradientOverText {
    background: linear-gradient(90deg, rgba(126,213,111,1) 0%, rgba(40,180,133,1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        
}

@mixin shadow {
    box-shadow: 0 .5rem 1.2rem rgba($color-black, .3) ;
}