//  COLORS
$color-primary: #009c34;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light-1:rgb(241, 241, 241);
$color-gray-light-2:rgb(194, 194, 194);
$color-gray-medium: rgb(107, 107, 107);
$color-gray-dark: rgb(63, 63, 63);
$color-white: #fff;
$color-black: rgb(14, 14, 14);



//MARGINS 

$margin-1: 1rem;
$margin-2: 2rem;
$margin-3: 4rem;
$margin-4: 8rem;
$margin-5: 10rem;

//  GRID
$row-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;