*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /*every element on the page will inherit box-sizing value from body selector */
}

html {
  font-size: 62.5%;
  /*percent of default font size set in browser settings. usually 16px so it calculates to 10px*/
}

body {
  padding: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-1 {
  margin-bottom: 1rem;
}

.u-margin-bottom-2 {
  margin-bottom: 2rem;
}

.u-margin-bottom-3 {
  margin-bottom: 4rem;
}

.u-margin-bottom-4 {
  margin-bottom: 8rem;
}

.u-margin-bottom-5 {
  margin-bottom: 10rem;
}

.u-margin-top-1 {
  margin-top: 1rem;
}

.u-margin-top-2 {
  margin-top: 2rem;
}

.u-margin-top-3 {
  margin-top: 4rem;
}

.u-margin-top-4 {
  margin-top: 8rem;
}

.u-margin-top-5 {
  margin-top: 10rem;
}

.u-padding-bottom-1 {
  padding-bottom: 1rem;
}

.u-padding-bottom-2 {
  padding-bottom: 2rem;
}

.u-padding-bottom-3 {
  padding-bottom: 4rem;
}

.u-padding-bottom-4 {
  padding-bottom: 8rem;
}

.u-padding-bottom-5 {
  padding-bottom: 10rem;
}

.u-padding-top-1 {
  padding-top: 1rem;
}

.u-padding-top-2 {
  padding-top: 2rem;
}

.u-padding-top-3 {
  padding-top: 8rem;
}

.u-padding-top-5 {
  padding-top: 10rem;
}

@-webkit-keyframes moveinleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  30% {
    opacity: 0.5;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveinleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  30% {
    opacity: 0.5;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  30% {
    opacity: 0.3;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  30% {
    opacity: 0.3;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveUp {
  0% {
    text-shadow: 0.3rem 2rem -0.6rem rgba(0, 0, 0, 0);
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  100% {
    text-shadow: 0 0.4rem 0.7rem rgba(94, 61, 61, 0.3);
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
}

@keyframes moveUp {
  0% {
    text-shadow: 0.3rem 2rem -0.6rem rgba(0, 0, 0, 0);
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  100% {
    text-shadow: 0 0.4rem 0.7rem rgba(94, 61, 61, 0.3);
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
}

@-webkit-keyframes moveDown {
  0% {
    text-shadow: 0.3rem 2rem -0.6rem rgba(0, 0, 0, 0);
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  100% {
    text-shadow: 0 0.4rem 0.3rem rgba(94, 61, 61, 0.3);
    -webkit-transform: translateY(-0.3rem);
            transform: translateY(-0.3rem);
  }
}

@keyframes moveDown {
  0% {
    text-shadow: 0.3rem 2rem -0.6rem rgba(0, 0, 0, 0);
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  100% {
    text-shadow: 0 0.4rem 0.3rem rgba(94, 61, 61, 0.3);
    -webkit-transform: translateY(-0.3rem);
            transform: translateY(-0.3rem);
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #6b6b6b;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  margin-bottom: 6rem;
  /* backface-visibility: hidden; hack to make animation smoother */
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  -webkit-animation-name: moveinleft;
          animation-name: moveinleft;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  /* animation-iteration-count: 1; */
  /* animation-delay: 3s; */
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.7rem;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1rem;
  word-spacing: 0.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background: linear-gradient(90deg, #7ed56f 0%, #28b485 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-shadow: 0rem 0.5rem 0.6rem rgba(0, 0, 0, 0);
}

.heading-secondary:hover {
  text-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.heading-secondary:active {
  text-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 4rem;
}

.link, .link:link, .link:visited {
  text-decoration: none;
  color: transparent;
}

.link--light, .link--light:link, .link--light:visited {
  color: #f1f1f1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.link--light:hover, .link--light:link:hover, .link--light:visited:hover {
  color: #3f3f3f;
}

.link--dark, .link--dark:link, .link--dark:visited {
  color: #0e0e0e;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.link--dark:hover, .link--dark:link:hover, .link--dark:visited:hover {
  color: #3f3f3f;
}

.link--button, .link--button:link, .link--button:visited {
  display: inline-block;
  color: #009c34;
  font-size: 1.6rem;
  background-color: #009c34 0;
  border-bottom: 1px solid #009c34;
  padding: .2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.link--button:hover, .link--button:link:hover, .link--button:visited:hover {
  background-color: #009c34;
  color: #f1f1f1;
  padding: .2rem;
}

.link--button:hover, .link--button:link:hover, .link--button:visited:hover {
  -webkit-box-shadow: 0px 0.3rem 2rem -0.6rem rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0.3rem 2rem -0.6rem rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.link--button:active, .link--button:link:active, .link--button:visited:active {
  -webkit-box-shadow: 0px 0.1rem 2rem -0.6rem rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0.1rem 2rem -0.6rem rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}

.icon {
  font-size: 1.6rem;
  color: #0e0e0e;
}

.btn {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  border: none;
  width: 24rem;
  height: 5rem;
  border-radius: 10rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  text-decoration: none;
  padding-top: 1.2rem;
}

.btn:hover {
  -webkit-box-shadow: 0px 0.3rem 2rem -0.6rem rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0.3rem 2rem -0.6rem rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.btn:active {
  -webkit-box-shadow: 0px 0.1rem 2rem -0.6rem rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0.1rem 2rem -0.6rem rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}

.btn--white {
  background-color: #fff;
  color: #6b6b6b;
}

.btn--green {
  background-color: #55c57a;
  color: #fff;
}

.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  -webkit-box-shadow: 0 0.5rem 1.2rem rgba(14, 14, 14, 0.2);
          box-shadow: 0 0.5rem 1.2rem rgba(14, 14, 14, 0.2);
  position: absolute;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.composition__photo--p1 {
  top: -2rem;
  left: 0;
}

.composition__photo--p2 {
  top: 5rem;
  right: 0;
}

.composition__photo--p3 {
  top: 15rem;
  left: 20%;
}

.composition__photo:hover {
  -webkit-box-shadow: 0 0.8rem 1.7rem rgba(14, 14, 14, 0.4);
          box-shadow: 0 0.8rem 1.7rem rgba(14, 14, 14, 0.4);
  z-index: 999;
  -webkit-transform: scale(1.05) translateY(-0.5rem);
          transform: scale(1.05) translateY(-0.5rem);
}

.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.card-zoom {
  display: block;
  text-align: center;
  border-radius: .3rem;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0.5rem 1.2rem rgba(14, 14, 14, 0.2);
          box-shadow: 0 0.5rem 1.2rem rgba(14, 14, 14, 0.2);
  padding: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card-zoom__icon {
  font-size: 7rem;
  padding-top: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background: linear-gradient(90deg, #7ed56f 0%, #28b485 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.card-zoom:hover {
  -webkit-box-shadow: 0 0.8rem 1.7rem rgba(14, 14, 14, 0.4);
          box-shadow: 0 0.8rem 1.7rem rgba(14, 14, 14, 0.4);
  z-index: 999;
  -webkit-transform: scale(1.05) translateY(-0.5rem);
          transform: scale(1.05) translateY(-0.5rem);
}

.card {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  height: 30rem;
  text-align: center;
}

.card__side {
  position: absolute;
  top: 0;
  left: 0;
  height: 50rem;
  width: 100%;
  border-radius: .3rem;
  overflow: hidden;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: 0 0.5rem 1.2rem rgba(14, 14, 14, 0.2);
          box-shadow: 0 0.5rem 1.2rem rgba(14, 14, 14, 0.2);
}

.card__side--front {
  background-color: #fff;
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__side--back-1 {
  background: linear-gradient(-45deg, #ff7730, #ffb900);
}

.card__side--back-2 {
  background: linear-gradient(-45deg, #28b485, #7ed56f);
}

.card__side--back-3 {
  background: linear-gradient(-45deg, #5643fa, #2998ff);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card__picture {
  background-size: cover;
  height: 40%;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__picture--1 {
  background-image: linear-gradient(-45deg, #ff7730, #ffb900), url(/img/nat-5.jpg);
}

.card__picture--2 {
  background-image: linear-gradient(-45deg, #28b485, #7ed56f), url(/img/nat-6.jpg);
}

.card__picture--3 {
  background-image: linear-gradient(-45deg, #5643fa, #2998ff), url(/img/nat-7.jpg);
}

.card__heading {
  position: absolute;
  font-size: 2.8rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  text-align: right;
  top: 12rem;
  right: 2rem;
  width: 70%;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-direction-break: clone;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

.card__heading-span--1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffb900), to(#ff7730));
  background: linear-gradient(180deg, #ffb900, #ff7730);
}

.card__heading-span--2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#7ed56f), to(#28b485));
  background: linear-gradient(180deg, #7ed56f, #28b485);
}

.card__heading-span--3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#2998ff), to(#5643fa));
  background: linear-gradient(180deg, #2998ff, #5643fa);
}

.card__details {
  margin-top: 4.5rem;
  padding: 0 4rem;
}

.card__details li {
  font-size: 1.6rem;
  list-style: none;
  text-transform: capitalize;
  padding-top: 1rem;
}

.card__details li:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(107, 107, 107, 0.1);
}

.card__back-heading {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 15rem 0 -2rem 0;
  text-transform: uppercase;
  color: #fff;
}

.card__back-text {
  color: #fff;
  font-size: 8rem;
  font-weight: 300;
  margin-bottom: 7rem;
}

.story {
  background-color: rgba(241, 241, 241, 0.9);
  width: 70%;
  position: relative;
  -webkit-transform: skew(-12deg);
          transform: skew(-12deg);
  padding: 5rem 7rem;
  margin: 0 auto 8rem;
  text-align: left;
  border-radius: .3rem;
  -webkit-box-shadow: 0 0.5rem 1.2rem rgba(14, 14, 14, 0.2);
          box-shadow: 0 0.5rem 1.2rem rgba(14, 14, 14, 0.2);
}

.story:after {
  content: " ";
  display: table;
  clear: both;
}

.story__box {
  -webkit-transform: skew(12deg);
          transform: skew(12deg);
}

.story__copy {
  font-size: 1.6rem;
}

.story__shape {
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 10rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  -moz-shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 75% 50%);
          clip-path: circle(50% at 75% 50%);
  -webkit-transform: translate(-6rem);
          transform: translate(-6rem);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.story__image {
  height: 100%;
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.story__image-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(0%, 20%);
          transform: translate(0%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  -webkit-transition: all .2s;
  transition: all .2s;
  opacity: 0;
}

.story:hover .story__image-caption {
  -webkit-transform: translate(0%, -40%);
          transform: translate(0%, -40%);
  opacity: 1;
}

.story:hover .story__image {
  -webkit-filter: blur(0.3rem) brightness(70%);
          filter: blur(0.3rem) brightness(70%);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .2;
}

.bg-video__content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.row {
  margin: 0 auto;
  max-width: 114rem;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row:after {
  content: " ";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem)/2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem)/3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.header {
  position: relative;
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 156, 52, 0.7)), to(rgba(40, 180, 133, 0.7))), url(../img/hero.jpg);
  background-image: linear-gradient(to right bottom, rgba(0, 156, 52, 0.7), rgba(40, 180, 133, 0.7)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /*fixes top of the image so it gets cropped from the bottom*/
  -webkit-clip-path: polygon(0 0, 100vw 0, 100vw 75vh, 0 90vh);
          clip-path: polygon(0 0, 100vw 0, 100vw 75vh, 0 90vh);
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
  /* set parent element to relative. it counts from parent edges */
}

.header__logo {
  height: 2.5rem;
}

.header__hero {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.section-about {
  background-color: #f1f1f1;
  padding: 25rem 0 25rem 0;
  margin-top: -20vh;
}

.section-features {
  background-color: #f1f1f1;
  background-size: cover;
  background-position: bottom;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 156, 52, 0.7)), to(rgba(40, 180, 133, 0.7))), url(../img/nat-4.jpg);
  background-image: linear-gradient(to right bottom, rgba(0, 156, 52, 0.7), rgba(40, 180, 133, 0.7)), url(../img/nat-4.jpg);
  padding: 20rem 0;
  margin-top: -10rem;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
}

.section-features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.section-tours {
  background-color: #f1f1f1;
  padding: 25rem 0 40rem 0;
  margin-top: -10rem;
}

.section-stories {
  padding: 8rem 0;
  position: relative;
  foo: bar;
}
/*# sourceMappingURL=main.css.map */