.btn {
    
    &,
    &:link,
    &:visited {
    display: inline-block;
    border: none;
    width: 24rem;
    height: 5rem;
    border-radius: 10rem;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0;
    text-decoration: none;
   
    }
    
    @include buttonAnimation

    &--white {
        background-color: white;
        color: $color-gray-dark;
    }

    &--green {
        background-color: #55c57a;
        color: white;
    }

}