.card-360 {
    position: relative;
    perspective: 150rem;
    -moz-perspective: 150rem;
    -webkit-perspective: 150rem;
   
   &__side {
    position: absolute;
    top: 0;
    left: 0;
    height: 50rem;
    width: 100%;
    transition: all 1s ease;
    backface-visibility: hidden;
        &--front {
            background-color: $color-white;
        }

        &--back {
            background: linear-gradient(-45deg, $color-secondary-dark, $color-secondary-light);
            transform: rotateY(180deg);
        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }
}