body {
    font-family: "Lato", sans-serif;
font-weight: 400;
line-height: 1.7;
}

.heading-primary {
    color: white;
    text-transform: uppercase;
    margin-bottom: 6rem;;
    /* backface-visibility: hidden; hack to make animation smoother */


    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveinleft;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        /* animation-iteration-count: 1; */
        /* animation-delay: 3s; */
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.7rem;
        animation-name: moveInRight;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
    }

}

.heading-secondary {
    display: inline-block;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
    word-spacing: 0.5rem;
    background-image: linear-gradient(90deg, rgba(126,213,111,1) 0%, rgba(40,180,133,1) 100%);
    background-blend-mode: darken;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    @include linkAnimation;
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;;
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: $margin-3;
    }
}

.link {

    &,
    &:link,
    &:visited {
        text-decoration: none;
        color: transparent;
    }

    &--light,
    &--light:link,
    &--light:visited, {
        color: $color-gray-light-1;
        transition: all 0.2s;
        &:hover {
            color: $color-gray-dark;
        }
    }
    &--dark,
    &--dark:link,
    &--dark:visited {
        color: $color-black;
        transition: all 0.2s;
        &:hover {
            color: $color-gray-dark;
        }
    }

    &--button,
    &--button:link,
    &--button:visited {
        display: inline-block;
        color: $color-primary;
        font-size: 1.6rem;
        background-color: $color-primary 0;
        border-bottom: 1px solid $color-primary;

        &:hover {
            background-color: $color-primary;
            color: $color-gray-light-1;
            padding: .2rem;
        }

        @include buttonAnimation

    }

}